html,body{
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
}
*{
    box-sizing: border-box;
}
.chart{
    padding:0px;
    margin:100px auto;
    /*border:1px solid red;*/
}
svg{
    margin:0;
    padding:0;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}