* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#wrapper {
    width: 81.4%;
    height: 29.6%;
    position: absolute;
    left: 50%;
    margin-left: -40.7%;
    top: 50%;
    z-index: 10;
    margin-top: -34.8%;
    padding: 0px;
    /*transform: scale(0) rotateX(0deg);*/
    /*-webkit-transform: scale(0) rotateX(0deg);*/
    transform: translateY(-100%);
    transition: all 3s;
    -webkit-transition: all 3s;
    opacity: 0;
}

#wrapper.receive {
    opacity: 1;
    transition: all 3s;
    -webkit-transition: all 3s;
    transform: translateY(0%);
    /*transform: scale(1) rotateX(360deg);*/
    /*-webkit-transform: scale(1) rotateX(360deg);*/
}

.envelope {
    width: 100%;
    height: 100%;
    background: rgba(214, 78, 78, 1);
    background-image: linear-gradient(to top, rgba(155, 59, 59, 1), rgba(214, 78, 78, 1));
    background-image: -webkit-linear-gradient(to top, rgba(155, 59, 59, 1), rgba(214, 78, 78, 1));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
    0 10px 36px rgba(0, 0, 0, 0.25);
    position: relative;
    perspective: 800px;
    -webkit-perspective: 800px;
}

.envelope .flap.front {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center;
    padding-top: 45%;
    line-height: 20px;
    color: rgba(255, 175, 0, 1);
    background: rgba(214, 78, 78, 1);
    background-image: -webkit-linear-gradient(to top, rgba(155, 59, 59, 1), rgba(214, 78, 78, 1));
    background-image: linear-gradient(to top, rgba(155, 59, 59, 1), rgba(214, 78, 78, 1));
    font-size: 1.5em;
}

.envelope .flap.top {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgba(231, 90, 90, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform-origin-y: top;
    transform-origin-y: top;
    perspective: 800px;
    -webkit-perspective: 800px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 2s;
    -webkit-transition: all 2s;
}

.envelope.open .flap.top {
    /*transition: all 2s;*/
    /*-webkit-transition: all 2s;*/
    z-index: 2;
    -webkit-transform: rotateX(181deg);
    transform: rotateX(180deg);
}

.envelope.close .flap.top {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-name: flipclose;
    -webkit-animation-name: flipclose;
}

#unpack {
    position: absolute;
    width: 74.75px;
    height: 80px;
    top: 15%;
    left: 37%;
    z-index: 20;
    color: #865f0a;
    /*border-radius: 100%;*/
    /*background: #E0E0E0;*/
    background-image: url("../unpack.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    font-size: 1.0em;
    text-align: center;
    border: 0px;
    padding: 0px 5px 5px 0px;
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);*/
    /*transform: translateZ(0px) rotateZ(0deg);*/
    /*-webkit-transform: translateZ(0px) rotateZ(0deg);*/
    opacity: 1;
}

#unpack.open {
    transition: all 2s;
    -webkit-transition: all 2s;
    opacity: 0;
    /*transform: translateZ(1000px) rotateZ(0deg);*/
    /*-webkit-transform: translateZ(1000px) rotateZ(0deg);*/
}

@keyframes flipclose {
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        z-index: 3;
    }
}

@-webkit-keyframes flipclose {
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        z-index: 3;
    }
}

.envelope .letter {
    position: absolute;
    padding-top: 0.05em;
    width: 90%;
    height: 90%;
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
    /*background: rgba(255, 255, 255, 1);*/
    background: linear-gradient(rgba(255, 255, 255, 1) 90%, rgba(238, 238, 238, 1) 10%);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1) 90%, rgba(238, 238, 238, 1) 10%);
    background-size: 100% 1.5em;
    top: 5%;
    left: 5%;
    border: 2px solid #ccc;
    border-left: 5px solid rgba(255, 255, 255, 1);
    border-right: 5px solid rgba(255, 255, 255, 1);
    z-index: 2;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform-style: preserve-3d;
    font-size: 0.9em;
    overflow: hidden;
    line-height: 1.5em;
}

.envelope .letter>div{

}

.envelope .letter>div.title{
    text-align: center;
    font-weight: bolder;
}


.envelope .letter>button#enter{
    float:right;
    margin-top:1.7em;
    width:50px;
    height:50px;
    padding: 10px;
    border-radius: 100%;
    border-width: 0px;
    font-size:0.5em;
    margin-right: 5px;
    color:rgba(214, 78, 78, 1);
    background-color: #EEEEEE;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1);
}
.envelope .letter label{
    display:inline-block;
    width:45px;
}


.envelope.open .letter {
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-delay: 2s;
    -webkit-transition-delay: 2s;
    z-index: 2;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-name: openfromE;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: openfromE;
}

.envelope.close .letter {
    z-index: 3;
    /*top: -100%;*/
    top: -50%;
    height: 250%;
    animation-duration: 2s;
    animation-name: putIntoClose;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    -webkit-animation-name: putIntoClose;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes openfromE {
    50% {
        top: -100%;
    }
    80% {
        top: -50%;
        z-index: 3;
    }
    100% {
        top: -50%;
        z-index: 3;
        height: 250%;
    }
    /*50% {*/
    /*top: -100%;*/
    /*}*/
    /*100% {*/
    /*top:-100%;*/
    /*height: 200%;*/
    /*z-index: 3;*/
    /*}*/
}

@-webkit-keyframes openfromE {
    50% {
        top: -100%;
    }
    80% {
        top: -50%;
        z-index: 3;
    }
    100% {
        top: -50%;
        z-index: 3;
        height: 250%;
    }
    /*50% {*/
    /*top: -100%;*/
    /*}*/
    /*100% {*/
    /*top:-100%;*/
    /*height: 200%;*/
    /*z-index: 3;*/
    /*}*/
}

@keyframes putIntoClose {
    /*50% {*/
    /*top: -100%;*/
    /*z-index: 3;*/
    /*height: 90%;*/
    /*}*/
    /*100% {*/
    /*top: 5%;*/
    /*z-index: 1;*/
    /*}*/
    20% {
        z-index: 3;
        height: 90%;
    }
    50% {
        z-index: 3;
        top: -100%;
        height: 90%;
    }
    100% {
        top: 5%;
        z-index: 1;
        height: 90%;
    }
}

@-webkit-keyframes putIntoClose {
    20% {
        z-index: 3;
        height: 90%;
    }
    50% {
        z-index: 3;
        top: -100%;
        height: 90%;
    }
    100% {
        top: 5%;
        z-index: 1;
        height: 90%;
    }
}

#wrapper.send {
    animation: send 2s forwards;
    -webkit-animation: send 2s forwards;
}

@keyframes send {
    0% {
        opacity: 1;
        transform: rotateX(0deg) rotateZ(0deg) translateX(-50%) translateY(0) scale(1);
        -webkit-transform: rotateX(0deg) rotateZ(0deg) translateX(-50%) translateY(0) scale(1);
    }
    33% {
        opacity: 0.66;
        transform: rotateX(0deg) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
        -webkit-transform: rotateX(0deg) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: rotateX(0deg) rotateZ(0deg) translateX(1000%) translateY(0) scale(1);
        -webkit-transform: rotateX(0deg) rotateZ(0deg) translateX(1000%) translateY(0) scale(1);
    }
}

@-webkit-keyframes send {
    0% {
        opacity: 1;
        transform: rotateX(0deg) rotateZ(0deg) translateX(-50%) translateY(0) scale(1);
        -webkit-transform: rotateX(0deg) rotateZ(0deg) translateX(-50%) translateY(0) scale(1);
    }
    33% {
        opacity: 0.66;
        transform: rotateX(0deg) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
        -webkit-transform: rotateX(0deg) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: rotateX(0deg) rotateZ(0deg) translateX(1000%) translateY(0) scale(1);
        -webkit-transform: rotateX(0deg) rotateZ(0deg) translateX(1000%) translateY(0) scale(1);
    }
}

/*#sendsuccess {*/
/*width: 800px;*/
/*height: 400px;*/
/*background-color: transparent;*/
/*position: absolute;*/
/*left: 50%;*/
/*margin-left: -400px;*/
/*top: 50%;*/
/*margin-top: -300px;*/
/*padding: 0px;*/
/*/!*z-index: 9;*!/*/
/*/!*transform: scale(0) rotateX(0deg);*!/*/
/*/!*transform: scale(1) rotateX(360deg);*!/*/
/*transition: all 3s;*/
/*-webkit-transition: all 3s;*/
/*}*/

/*#sendsuccess > div#sendsvg {*/
/*margin: 60px auto;*/
/*width: 200px;*/
/*height: 200px;*/
/*background-color: transparent;*/
/*}*/

#welcome {
    opacity: 0;
    width: 300px;
    height: 350px;
    background-image: url("../invitation.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
    0 10px 36px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

#welcome.show {
    transition: all 2s;
    transition-delay: 2s;
    transform: translateY(-200px);
    -webkit-transition: all 2s;
    -webkit-transition-delay: 2s;
    -webkit-transform: translateY(-200px);
    opacity: 1;
}

#welcome > div#welName {
    width: 100px;
    height: 25px;
    position: absolute;
    top: 118px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
}

#welcome > div#title {
    width: 220px;
    height: 25px;
    position: absolute;
    top: 150px;
    left: 50%;
    line-height: 1.3em;
    margin-left: -110px;
    text-align: center;
}

#welcome>#contact{
    position: absolute;
    right:10px;
    bottom:10px;
}

#welcome>#title>span{
    display: block;
}

/*.loading-inner {*/
/*fill: transparent;*/
/*stroke-dashoffset: 0;*/
/*stroke-dashoffset: 300;*/
/*stroke-width: 6;*/
/*stroke-miterlimit: 10;*/
/*stroke-linecap: round;*/
/*stroke: #51BBA7;*/
/*transform: scale(0);*/
/*transition: all 1.5s;*/
/*-webkit-transform: scale(0);*/
/*-webkit-transition: all 1.5s;*/
/*}*/

/*#sendsvg.show {*/
/*transition: all 1s;*/
/*transition-delay: 3s;*/
/*-webkit-transition: all 1s;*/
/*-webkit-transition-delay: 3s;*/
/*opacity: 0;*/
/*}*/

/*#sendsvg.show .loading-inner {*/
/*transform: scale(1);*/
/*-webkit-transform: scale(1);*/
/*}*/

/*#tick-path {*/
/*stroke: #51BBA7;*/
/*fill: transparent;*/
/*stroke-width: 5px;*/
/*stroke-linecap: round;*/
/*stroke-linejoin: round;*/
/*stroke-dasharray: 150;*/
/*stroke-dashoffset: 160;*/
/*}*/

/*#sendsvg.show #tick-path {*/
/*animation: tick 0.6s ease-in;*/
/*animation-delay: 2s;*/
/*animation-fill-mode: forwards;*/
/*-webkit-animation: tick 0.6s ease-in;*/
/*-webkit-animation-delay: 2s;*/
/*-webkit-animation-fill-mode: forwards;*/
/*}*/

/*@keyframes tick {*/
/*from {*/
/*stroke-dashoffset: 160;*/
/*stroke-dasharray: 150;*/
/*}*/
/*to {*/
/*stroke-dashoffset: 0;*/
/*stroke-dasharray: 150;*/
/*}*/
/*}*/

/*@-webkit-keyframes tick {*/
/*from {*/
/*stroke-dashoffset: 160;*/
/*stroke-dasharray: 150;*/
/*}*/
/*to {*/
/*stroke-dashoffset: 0;*/
/*stroke-dasharray: 150;*/
/*}*/
/*}*/