* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#wrapper {
    width: 81.4%;
    height: 29.6%;
    position: absolute;
    left: 50%;
    margin-left: -40.7%;
    top: 50%;
    z-index: 10;
    margin-top: -34.8%;
    padding: 0px;
    transform: translateY(-100%);
    transition: all 3s;
    -webkit-transition: all 3s;
    opacity: 0;
}

#wrapper.receive {
    opacity: 1;
    transition: all 3s;
    -webkit-transition: all 3s;
    transform: translateY(0%);
}

.envelope {
    width: 100%;
    height: 100%;
    background: rgba(214, 78, 78, 1);
    background-image: linear-gradient(to top, rgba(155, 59, 59, 1), rgba(214, 78, 78, 1));
    background-image: -webkit-linear-gradient(to top, rgba(155, 59, 59, 1), rgba(214, 78, 78, 1));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
    0 10px 36px rgba(0, 0, 0, 0.25);
    position: relative;
    perspective: 800px;
    -webkit-perspective: 800px;
}

.envelope .flap.front {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center;
    padding-top: 45%;
    line-height: 20px;
    color: rgba(255, 175, 0, 1);
    background: rgba(214, 78, 78, 1);
    background-image: -webkit-linear-gradient(to top, rgba(155, 59, 59, 1), rgba(214, 78, 78, 1));
    background-image: linear-gradient(to top, rgba(155, 59, 59, 1), rgba(214, 78, 78, 1));
    font-size: 1.5em;
}

.envelope .flap.top {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgba(231, 90, 90, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform-origin-y: top;
    transform-origin-y: top;
    perspective: 800px;
    -webkit-perspective: 800px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 2s;
    -webkit-transition: all 2s;
}

.envelope.open .flap.top {
    /*transition: all 2s;*/
    /*-webkit-transition: all 2s;*/
    z-index: 2;
    -webkit-transform: rotateX(181deg);
    transform: rotateX(180deg);
}

.envelope.close .flap.top {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-name: flipclose;
    -webkit-animation-name: flipclose;
}

#unpack {
    position: absolute;
    width: 74.75px;
    height: 80px;
    top: 15%;
    left: 37%;
    z-index: 20;
    color: #865f0a;
    background-image: url("../unpack.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    font-size: 1.0em;
    text-align: center;
    border: 0px;
    padding: 0px 5px 5px 0px;
    opacity: 1;
}

#unpack.open {
    transition: all 2s;
    -webkit-transition: all 2s;
    opacity: 0;
    z-index: 0;
}

@keyframes flipclose {
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        z-index: 3;
    }
}

@-webkit-keyframes flipclose {
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        z-index: 3;
    }
}

.envelope .letter {
    position: absolute;
    padding-top: 0.05em;
    width: 90%;
    height: 90%;
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
    /*background: rgba(255, 255, 255, 1);*/
    background: linear-gradient(rgba(255, 255, 255, 1) 90%, rgba(238, 238, 238, 1) 10%);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1) 90%, rgba(238, 238, 238, 1) 10%);
    background-size: 100% 1.5em;
    top: 5%;
    left: 5%;
    border: 2px solid #ccc;
    border-left: 5px solid rgba(255, 255, 255, 1);
    border-right: 5px solid rgba(255, 255, 255, 1);
    z-index: 2;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform-style: preserve-3d;
    font-size: 0.9em;
    overflow: hidden;
    line-height: 1.5em;
    background-image: url("../letter.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: top center;
    border: 0px;
}

.envelope .letter > div.title {
    text-align: center;
    font-weight: bolder;
}

.envelope .letter > div.name {
    width: 100px;
    position: absolute;
    top: 58%;
    /*margin: 106% auto;*/
    /*margin-bottom: 0px;*/
    left: 50%;
    margin-left: -50px;
    text-align: center;
}

.envelope .letter > div.tel {
    width: 100px;
    position: absolute;
    top: 69%;
    left: 50%;
    margin-left: -50px;
    text-align: center;
}

.envelope .letter > div.name > #name {
    width: 100%;
}

.envelope .letter > div.tel > #tel {
    width: 100%;
}

.envelope .letter > #leather {
    position: absolute;
    right: 5%;
    bottom: 17%;
    width: 68.8px;
    height: 88px;
    padding: 10px;
    border-width: 0px;
    background-image: url("../leather.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    animation: leatherRot 0.5s ease-in infinite alternate;
    -webkit-animation: leatherRot 0.5s ease-in infinite alternate;
}

@keyframes leatherRot {
    from {
        transform: translateY(0px) rotateZ(-15deg);
    }
    to {
        transform: translateY(10px) rotateZ(-15deg);
    }
}

@-webkit-keyframes leatherRot {
    from {
        -webkit-transform: translateY(0px) rotateZ(-15deg);
    }
    to {
        -webkit-transform: translateY(10px) rotateZ(-15deg);
    }
}

.envelope .letter > button#enter {
    float: right;
    margin-top: 1.7em;
    position: absolute;
    right: 5%;
    bottom: 10%;
    width: 86.4px;
    height: 49px;
    padding: 10px;
    border-width: 0px;
    background-image: url("../paticipate.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    font-size: 0.5em;
    margin-right: 5px;
}

.envelope .letter label {
    display: inline-block;
    width: 45px;
}

.envelope.open .letter {
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-delay: 2s;
    -webkit-transition-delay: 2s;
    z-index: 2;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-name: openfromE;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: openfromE;
}

.envelope.close .letter {
    z-index: 3;
    /*top: -100%;*/
    top: -50%;
    height: 250%;
    animation-duration: 2s;
    animation-name: putIntoClose;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    -webkit-animation-name: putIntoClose;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    background-size: cover;
}

@keyframes openfromE {
    50% {
        top: -100%;
    }
    80% {
        top: -50%;
        z-index: 3;
    }
    100% {
        top: -50%;
        z-index: 3;
        height: 250%;
    }
}

@-webkit-keyframes openfromE {
    50% {
        top: -100%;
    }
    80% {
        top: -50%;
        z-index: 3;
    }
    100% {
        top: -50%;
        z-index: 3;
        height: 250%;
    }
}

@keyframes putIntoClose {
    20% {
        z-index: 3;
        height: 90%;
    }
    50% {
        z-index: 3;
        top: -100%;
        height: 90%;
    }
    100% {
        top: 5%;
        z-index: 1;
        height: 90%;
    }
}

@-webkit-keyframes putIntoClose {
    20% {
        z-index: 3;
        height: 90%;
    }
    50% {
        z-index: 3;
        top: -100%;
        height: 90%;
    }
    100% {
        top: 5%;
        z-index: 1;
        height: 90%;
    }
}

#wrapper.send {
    animation: send 2s forwards;
    -webkit-animation: send 2s forwards;
}

@keyframes send {
    0% {
        opacity: 1;
        transform: rotateX(0deg) rotateZ(0deg) translateX(-50%) translateY(0) scale(1);
        -webkit-transform: rotateX(0deg) rotateZ(0deg) translateX(-50%) translateY(0) scale(1);
    }
    33% {
        opacity: 0.66;
        transform: rotateX(0deg) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
        -webkit-transform: rotateX(0deg) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: rotateX(0deg) rotateZ(0deg) translateX(1000%) translateY(0) scale(1);
        -webkit-transform: rotateX(0deg) rotateZ(0deg) translateX(1000%) translateY(0) scale(1);
    }
}

@-webkit-keyframes send {
    0% {
        opacity: 1;
        transform: rotateX(0deg) rotateZ(0deg) translateX(-50%) translateY(0) scale(1);
        -webkit-transform: rotateX(0deg) rotateZ(0deg) translateX(-50%) translateY(0) scale(1);
    }
    33% {
        opacity: 0.66;
        transform: rotateX(0deg) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
        -webkit-transform: rotateX(0deg) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: rotateX(0deg) rotateZ(0deg) translateX(1000%) translateY(0) scale(1);
        -webkit-transform: rotateX(0deg) rotateZ(0deg) translateX(1000%) translateY(0) scale(1);
    }
}

#welcome {
    opacity: 0;
    width: 300px;
    height: 350px;
    background-image: url("../invitation.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
    0 10px 36px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

#welcome.show {
    transition: all 2s;
    transition-delay: 2s;
    transform: translateY(-200px);
    -webkit-transition: all 2s;
    -webkit-transition-delay: 2s;
    -webkit-transform: translateY(-200px);
    opacity: 1;
}

#welcome > div#welName {
    width: 100px;
    height: 25px;
    position: absolute;
    top: 118px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
}

#welcome > div#title {
    width: 220px;
    height: 25px;
    position: absolute;
    top: 150px;
    left: 50%;
    line-height: 1.3em;
    margin-left: -110px;
    text-align: center;
}

#welcome > #contact {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#welcome > #title > span {
    display: block;
}